*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    height: 100vh;
}
header{

    background-color: #27afa3ff;

}
main{

    background-color: #faefa0ff;
}
footer{

    background-color: #27afa3ff;
  
}

nav{
    background-color: #27afa3ff;
}


