*{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box !important;
    font-family: 'Rubik', sans-serif;
}
body{
    height: 100vh;
    header{
        background-color: #415A77;   
    }
    main{
        background-color:  #0d1b2a;
    }

    footer{
        margin-top: auto !important;
        background-color: #415A77;  
    }
    nav{
        background-color: #415A77;
    }
    
}
@import "./partials/index";
@import "./partials/media_q.scss";


