.div_about_loc{
    img{
        width: 30px !important;
        height: 30px !important;
    }
}
    .p_about{
        font-size:23.7px !important;
    }


#img_about{
width: auto !important;
height: 300px !important;
}

#location_map{
        margin-right: 100px !important;
}