
#div_index_title{
          height: 30vh;
          #h1_index{
            color: $colorCinco !important;
            font-size: 100px;
            font-family: 'Nosifer', cursive;
            opacity: 0;
            transform: translateY(-20px);
            animation-name: fadeInH1;
            animation-iteration-count: 1;
            animation-timing-function: ease-in-out;
            animation-duration: 1s;
            animation-delay: 0.1s;
            animation-fill-mode: forwards;
        }
    }  
#div_index_linkB{
            width: 15vw !important;
            height: 30vh !important;
            margin-bottom: 30px !important;
            a{
              height: 200px !important;
                width: 200px !important;
              img{
                height: 200px !important;
                width: 200px !important;
              }
            }
            transform: translateX(100%); /* Empieza fuera de la pantalla a la izquierda */
            animation-name: slideInLinkB;
            animation-iteration-count: 1;
            animation-timing-function: linear;
            animation-duration: 0.5s;
            animation-delay: 0.1;
            animation-fill-mode: forwards;    
        }
  #div_index_linkA{
            width: 15vw !important;
            height: 30vh;
            margin-bottom: 30px !important;
            a{
              height: 200px !important;
                width: 200px !important;
              img{
                height: 200px !important;
                width: 200px !important;
            }
            }
            transform: translateX(-100%); /* Empieza fuera de la pantalla a la izquierda */
            animation-name: slideInLinkA;
            animation-iteration-count: 1;
            animation-timing-function: linear;
            animation-duration: 0.5s;
            animation-delay: 0.1;
            animation-fill-mode: forwards;    
     }
     .a_ico_index{
      overflow: hidden;
        transition: transform 0.3s border-bottom 1s ease;
        transform-origin: center;
        &:hover{
          transform: scale(1.1);
          border-bottom: 2px solid $colorCinco;
            transition: transform 0.8s, box-shadow 0.5s;
        }
     }

        @keyframes slideInLinkA{
          0%{
            opacity: 0.2;
            transform: translateX(-100%);
          }
          25%{
            opacity: 0.5;
            transform: translateX(-75%);
          }
          50%{
            opacity: 0.6;
            transform: translateX(-50%);
          }
          75%{
            opacity: 0.8;
            transform: translateX(-25%);
          }
          100%{
            opacity: 1;
            transform: translateX(-10%);
          }
        }
     

        @keyframes slideInLinkB{
          0%{
            opacity: 0.2;
            transform: translateX(100%);
          }
          25%{
            opacity: 0.5;
            transform: translateX(75%);
          }
          50%{
            opacity: 0.6;
            transform: translateX(50%);
          }
          75%{
            opacity: 0.8;
            transform: translateX(25%);
          }
          100%{
            opacity: 1;
            transform: translateX(10%);
          }
        }

        @keyframes fadeInH1 {
          0% {
            opacity: 0;
            transform: translateY(-20px);
          }
          100% {
            opacity: 1;
            transform: translateY(0);
          }
        }




 