  #h1_index{
            color: #E0E1DD !important;
            font-size: 50px;
        }  
#div_index{
            border: 3px #E0E1DD solid;
            height: 50%;
            a{
              height: 100% !important;
                width: 100% !important;
              img{
                height: 100% !important;
                width: 100% !important;
              }
            }   
        }


 