
   //RESPONSIVE FOOTER
   @media (max-width: 992px){
    body{
        height: 100vh;
        .footer_grl{
            div{
                nav{
                    justify-content: center;
                   #div_foot_A{
                    display: flex;
                    justify-content: center;
                      margin-top: 5px !important;
                      ul{
                        li{
                            border-left: 0px !important;
                            border-right: none !important;
                        }
                      }
                   }
                }
                #div_foot_C{
                    display: flex !important;
                    justify-content: center !important;
                    ul{
                        display: flex !important;
                        justify-content: center !important;
                    }
                }
            }
        }
        //RESPONSIVE DE INBOX
        #chat_container_inbox{
            margin-right: 5px !important;
         }
         //RESPONSIVE HEADER GENERAL
         .header_grl{
            nav{
                ul{
                    li{
                        img{
                            margin-right: 40px !important;
                        }
                    }
                }
            }
        }
    //RESPONSIVE LOCATION
      @include location;
    }
    //RESPONSIVE DEL INDEX
    @include index_size(150px, 70px);
    
   }


   @media (max-width: 768px){
    body{
        height: 100vh;
    #div_index_title{
        justify-content: center !important;
    }
    //RESPONSIVE ABOUT
       .p_about{
           font-size: small !important;
       }
      //RESPONSIVE LOCATION
      @include location;
      //RESPONSIVE DEL HEADER: GENERAL
       .header_grl{
           nav{
               ul{
                   li{
                       img{
                           margin-right: 50px !important;
                       }
                   }
               }
           }
       }
      }
      @include index_size(120px, 50px);
   }
   @media (max-width: 540px){
    //RESPONSIVE LOCATION
    @include location;
    //RESPONSIVE DEL INDEX
    @include index_size(75px, 50px);
   }

@media (max-width: 415px){
    #div_index_title{
        justify-content: center !important;
        //h1 del index centrado
        #h1_index{
            margin-left: 50px !important;
        }
    }
       //RESPONSIVE TIENDA
    #nav_tienda{
        .li_tienda_menu{
            display: none;
        }
        &:hover{
            .li_tienda_menu{
                display:block;
            }
        }
    }
    #section_juegos_tienda{
        article{
            div{
                justify-content: center !important;
            }
        }
    }
    .div_loc_ref{
        flex-direction: column !important;
    }
    //RESPONSIVE HEADER: GENERAL
         //RESPONSIVE DEL HEADER: GENERAL
         body{
            .header_grl{
                nav{
                    ul{
                        justify-content: center !important;
                        li{
                            img{
                                margin-right: 10px !important;
                                width: 25px !important;
                                height: 25px !important;
                            }
                        }
                    }
                }
            }
       }
       #h1_index{
        margin-left: 50px !important;
    }
         //RESPONSIVE FOOTER EN PANTALLAS MAS PEQUEÑAS
         @include footer-low-sizes;
         //RESPONSIVE DEL INDEX
         @include index_size(60px, 35px);
}

@media (max-width: 360px){
    #div_index_title{
        justify-content: center !important;
        //h1 del index centrado
        #h1_index{
            margin-left: 50px !important;
        }
    }
    @include footer-low-sizes;
    //RESPONSIVE DEL INDEX
    @include index_size(50px, 30px);
}




