//RESPONSIVE INBOX
@media (max-width:991px){
    #chat_container_inbox{
       margin-right: 5px !important;
    }
   }
   //RESPONSIVE FOOTER
   @media (max-width: 992px){
    .footer_grl{
        div{
            nav{
                justify-content: center;
               #div_foot_A{
                display: flex;
                justify-content: center;
                  margin-top: 5px !important;
                  ul{
                    li{
                        border-left: 0px !important;
                        border-right: none !important;
                    }
                  }
               }
            }
            #div_foot_C{
                display: flex !important;
                justify-content: center !important;
                ul{
                    display: flex !important;
                    justify-content: center !important;
                }
            }
        }
    }
   }

   //RESPONSIVE ABOUT
   @media (max-width: 764px){
       .p_about{
           font-size: small !important;
       }
   }
   
   @media (max-width: 767px){
    //RESPONSIVE ABOUT
       #gow_img_about{
         display: none !important;
       }
       .footer_grl{
        height: 100%;
       }
       //RESPONSIVE DEL HEADER: GENERAL
       body{
        .header_grl{
            nav{
                ul{
                    li{
                        img{
                            margin-right: 50px !important;
                        }
                    }
                }
            }
        }
       }
       
   }
   //RESPONSIVE TIENDA
@media (max-width: 576px){
    #nav_tienda{
        .li_tienda_menu{
            display: none;
        }
        &:hover{
            .li_tienda_menu{
                display: flex;
            }
        }
    }
    #section_juegos_tienda{
        article{
            div{
                justify-content: center !important;
            }
        }
    }

}


