@mixin footer-low-sizes {
    //RESPONSIVE FOOTER EN PANTALLAS MAS PEQUEÑAS
    .footer_grl{
        div{
            nav{
                justify-content: center !important;
                flex-direction: column !important;
               #div_foot_A{
                display: flex;
                justify-content: center;
                  margin-top: 5px !important;
                  ul{
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    li{
                        border-left: 0px !important;
                        border-right: none !important;
                        margin: 0px !important;
                        padding-left: 48px !important;
                        padding-right: 48px !important;
                    }
                  }
               }
            }
            #div_foot_C{
                display: flex !important;
                justify-content: center !important;
                ul{
                    display: flex !important;
                    justify-content: center !important;
                    li{
                        margin: 0px !important;
                        a{
                            img{
                               margin-left: 5px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
@mixin location{
    .div_about_loc{
        margin-left: 70px !important;
      }
      #location_map{
        margin-left: 70px !important;
        iframe{
            width: 300px;
        }
      }
}
