.img_portadas{
    width: 200px !important;
    height: 300px !important;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}
.h2_tienda{
    background-color: $colorDos;
    width: 100%;
    border: 0.5px solid $colorDos;
}
.button_tienda_filtro{
    height: 100% !important;
    width: 100% !important;
    padding: 10px !important;
    background-color: $colorTres;
}

#div_aside_tienda{
    background-color: $colorTres;
    #nav_tienda{
        width: 8.33vw;
        position: fixed !important;
        left: 0 !important;
            ul{
                li{
                    button{
                            #hamburger_tienda{
                                width: 30px !important;
                                height: 30px !important;
                            }
                    }      
                }
            }  
    }
}

