@media (max-width: 431px){
    #div_index_title{
        justify-content: center !important;
    }
       //RESPONSIVE TIENDA
    #nav_tienda{
        .li_tienda_menu{
            display: none;
        }
        &:hover{
            .li_tienda_menu{
                display:block;
            }
        }
    }
    #section_juegos_tienda{
        article{
            div{
                justify-content: center !important;
            }
        }
    }
    .div_loc_ref{
        flex-direction: column !important;
    } 
    //RESPONSIVE HEADER: GENERAL
         //RESPONSIVE DEL HEADER: GENERAL
         body{
            .header_grl{
                #banner_header{
                 display: none !important;
                }
                #logo_header{
                width: 100% !important;
                height: 200px !important;
                img{
                    width: 100% !important;
                }
                }
                nav{
                    ul{
                        justify-content: center !important;
                        li{
                            img{
                                margin-right: 10px !important;
                                width: 25px !important;
                                height: 25px !important;
                            }
                        }
                    }
                }
            }
       }
         //RESPONSIVE ABOUT
         #div_about_info{
            display: flex;
            flex-direction: column !important;
         }
         //RESPONSIVE FOOTER EN PANTALLAS MAS PEQUEÑAS
         @include footer-low-sizes;
         //RESPONSIVE DEL INDEX
         @include index_size(80px,42px);
}