@mixin footer-low-sizes {
    //RESPONSIVE FOOTER EN PANTALLAS MAS PEQUEÑAS
    .footer_grl{
        position: absolute !important;
        bottom: 0 !important;
        div{
            nav{
                justify-content: center !important;
                flex-direction: column !important;
               #div_foot_A{
                display: flex;
                justify-content: center !important;
                  margin-top: 5px !important;
                  ul{
                    display: flex;
                    justify-content:space-between;
                    li{
                        border-left: 0px !important;
                        border-right: none !important;
                        margin: 0px !important;
                     
                    }
                  }
               }
            }
            #div_foot_C{
                display: flex !important;
                justify-content: center !important;
                ul{
                    display: flex !important;
                    justify-content: center !important;
                    .text_footer_redes{
                        display: none !important;
                    }
                    li{
                        margin: 0px !important;
                        a{
                            img{
                               margin-left: 5px !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
@mixin location{
    .div_about_loc{
        margin-left: 70px !important;
      }
      #location_map{
        margin-left: 70px !important;
        iframe{
            width: 300px;
        }
      }
}

@mixin index_size($pxSVG, $fontSize){
    #div_index_linkA{
        width: auto !important;
        margin: 0 !important;
        a{
          img{
            height: $pxSVG !important;
            width: $pxSVG !important;
        }
        } 
 }
 #div_index_linkB{
    width: auto !important;
  margin: 0 !important;
    a{
      img{
        height: $pxSVG !important;
        width: $pxSVG !important;
      }
    } 
}
#h1_index{
    font-size: $fontSize !important;
}
}

@mixin button_form{
    .button_form{
        color: #E0E1DD !important;
        background-color: #778DA9 !important;
    }
}
